.order-detail-container .card {
  border-radius: 12px;
  overflow: hidden;
}

.order-detail-container .card-header {
  font-size: 1rem;
  background-color: #fafafa !important;
}

.order-detail-container .border-bottom {
  border-color: #eee !important;
}

.order-detail-container img {
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
